@mixin text-style($font-size, $font-family, $color) {
    font-size: $font-size;
    font-family: $font-family;
    color: $color;
}

a {
    text-decoration: none;
}

button {
    display: block;
    cursor: pointer;
    width: 100px;
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 20px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $button-color;
    color: $secondary-color;
}