.text-buy {
    font-size:  22px;
    font-family: Arial, Helvetica, sans-serif;
    color: $primary-color;
}

.btn {
    padding: 10px 15px;
    background-color: $secondary-color;
    border-radius: 50px;
    color: $primary-color;
    cursor: pointer;
}